.DS_Store
*.xcuserstate

*.py[cod]
deployment.*
moses_dispatcher*

Oracle/
giza-pp*
fast_mt_*
gtm-*
ibleu-*
zeromq-*
tercom-*
costa-mt-*
eval/

temp/
*old*
test*

Terminology/
TerminologyDatabase*
Solr/
NeXLT/
SW_JSONs/

OPENNLP/
segmentation/
moses-trunk/
moses.v3/
mgiza/
kenlm/